<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/stylesheet.css">
    <link href="//fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Lustria:400,700" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.1.1/katex.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <title>Math Goes Pop!<%= ' - ' + current_article.title unless current_article.nil? %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
  </head>
  <header>
    <div id="logo" class="pull-left"><a href="/">Math Goes Pop!</a></div>
    <nav class="pull-right">
      <a href="/about.html">About</a>
    </nav>
  </header>
  <body>
    <div class="row" id="main-row">
      <div id="left-sidebar" class="col-md-2"></div>
      <div class="col-md-7">
        <div id="main" role="main">
          <% unless current_article.nil? %>
            <h2><%= current_article.title %></h2> <div class="postDate"><%= current_article.date.strftime('%B %e, %Y') %></div>
          <% end %>
          <%= yield %>
          <% unless current_article.nil? %>
            <%= disqus %>
           <!--  <%= disqus_count %> -->
          <% end %>
        </div>
      </div>
      <div class="col-md-3">
        <aside>
          <form>
            <input type="text" id="st-search-input" class="st-search-input" value="Search Math Goes Pop!"/>
          </form>
          <div id="recent">
            <h2>Recent Articles</h2>
            <ul type="circle">
              <% blog.articles[0...5].each do |article| %>
                <li><%= link_to article.title, article %> <span><%= article.date.strftime('%b %e') %></span></li>
              <% end %>
            </ul>
          </div>
          <div id="byYear">
            <h2>By Year</h2>
            <ul type="circle">
              <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
                <li class="year"><%= link_to "#{year} (#{articles.size})", blog_year_path(year) %></li>
              <% end %>
            </ul>
          </div>
          
        </aside>
      </div>
    </div>
   <footer>
    <div id="social-media">
      <a href="https://twitter.com/mmmaaatttttt" target="_blank"><i class="fa fa-twitter-square"></i></a>
      <a href="https://instagram.com/mmmaaatttttt" target="_blank"><i class="fa fa-instagram"></i></a>
    </div>
    <a rel="license" id="license" href="http://creativecommons.org/licenses/by-nc/4.0/" target="_blank"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a>
   </footer>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="/javascripts/swiftype.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.1.1/katex.min.js"></script>
    <%= javascript_include_tag "all" %>
    <% if current_page.data.custom_js %>
      <script src=<%= "../../javascripts/#{current_page.data.custom_js}.js" %>></script>
    <% end %>
  </body>
</html>
